@font-face {
	font-family: 'LINE_Seed_Sans_TH';
	font-style: normal;
	font-weight: 200;
	src: local('LINESeed'), local('LINESeedSansTH'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF2/LINESeedSansTH_W_Th.woff2')
			format('woff2'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF/LINESeedSansTH_W_Th.woff') format('woff'),
		url('/fonts/LINE_Seed_Sans_TH/EOT/LINESeedSansTH_W_Th.eot')
			format('embedded-opentype');
}

@font-face {
	font-family: 'LINE_Seed_Sans_TH';
	font-style: normal;
	font-weight: 400;
	src: local('LINESeed'), local('LINESeedSansTH'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF2/LINESeedSansTH_W_Rg.woff2')
			format('woff2'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF/LINESeedSansTH_W_Rg.woff') format('woff'),
		url('/fonts/LINE_Seed_Sans_TH/EOT/LINESeedSansTH_W_Rg.eot')
			format('embedded-opentype');
}

@font-face {
	font-family: 'LINE_Seed_Sans_TH';
	font-style: normal;
	font-weight: 700;
	src: local('LINESeed'), local('LINESeedSansTH'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF2/LINESeedSansTH_W_Bd.woff2')
			format('woff2'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF/LINESeedSansTH_W_Bd.woff') format('woff'),
		url('/fonts/LINE_Seed_Sans_TH/EOT/LINESeedSansTH_W_Bd.eot')
			format('embedded-opentype');
}

@font-face {
	font-family: 'LINE_Seed_Sans_TH';
	font-style: normal;
	font-weight: 800;
	src: local('LINESeed'), local('LINESeedSansTH'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF2/LINESeedSansTH_W_XBd.woff2')
			format('woff2'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF/LINESeedSansTH_W_XBd.woff')
			format('woff'),
		url('/fonts/LINE_Seed_Sans_TH/EOT/LINESeedSansTH_W_XBd.eot')
			format('embedded-opentype');
}

@font-face {
	font-family: 'LINE_Seed_Sans_TH';
	font-style: normal;
	font-weight: 900;
	src: local('LINESeed'), local('LINESeedSansTH'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF2/LINESeedSansTH_W_He.woff2')
			format('woff2'),
		url('/fonts/LINE_Seed_Sans_TH/WOFF/LINESeedSansTH_W_He.woff') format('woff'),
		url('/fonts/LINE_Seed_Sans_TH/EOT/LINESeedSansTH_W_He.eot')
			format('embedded-opentype');
}
